<?xml version="1.0"?>

<!--
  ~ * Copyright © 2016 Magestore. All rights reserved.
  ~ * See COPYING.txt for license details.
  ~
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <quotation>
            <general>
                <enable>1</enable>
                <use_admin_discount_with_promotion_rules>0</use_admin_discount_with_promotion_rules>
            </general>
            <email>
                <enabled>1</enabled>
                <quote_template>quotation_email_quote_template</quote_template>
                <quote_guest_template>quotation_email_quote_guest_template</quote_guest_template>
                <identity>general</identity>
                <copy_method>bcc</copy_method>
                <send_pdf>0</send_pdf>
            </email>
        </quotation>
    </default>
</config>