<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ Copyright © 2018 Magestore. All rights reserved.
  ~ See COPYING.txt for license details.
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magestore\Quotation\Api\QuotationManagementInterface" type="Magestore\Quotation\Model\QuotationManagement"/>
    <preference for="Magestore\Quotation\Api\QuoteCommentHistoryRepositoryInterface" type="Magestore\Quotation\Model\Quote\Comment\HistoryRepository"/>
    <preference for="Magestore\Quotation\Api\Data\QuoteCommentHistoryInterface" type="Magestore\Quotation\Model\Quote\Comment\History"/>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="quotation_quote_listing_data_source" xsi:type="string">Magestore\Quotation\Model\ResourceModel\Quote\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\SalesRule\Model\Validator">
        <plugin name="quotation_quote_add_admin_discount" type="Magestore\Quotation\Plugin\SalesRule\Validator" sortOrder="5" />
    </type>
</config>