.hide{
    display: none;
}
#edit_form #quote-data,
#edit_form #quote-info{
    /*display: block !important;*/
}

#edit_form #quote-info .admin__page-section .admin__page-section-content{
    display: flex;
}
#edit_form #quote-info .admin__page-section .admin__page-section-content .admin__page-section-item{
    flex-grow: 1;
    flex: 1;
}

#quotation_product_create_form_container #quotation_product_create_form_html{
    display: block;
}

.admin__control-text.item-admin-discount-percentage{
    width: 10rem;
    margin: 5px 0px;
}
#quote-shipping_method{
    border-bottom: 1px solid #cccccc;
    margin-bottom: 1.7rem;
    padding-bottom: 10px;
}
#quote-search .actions,
#quote-items .actions{
    float: right;
}

.quote-discounts{
    text-align: right;
}
.quote-discounts .field-apply-coupon-code{
    width: 150px;
}
.quote-discounts .field-apply-coupon-code .admin__field-control input{
    margin-bottom: 5px;
}

.admin__page-section-item.quote-account-information.head-account{
    padding-left: 20px;
}