.hide{
    display: none;
}
#edit_form #quote-data,
#edit_form #quote-info{
    display: block !important;
}

#edit_form #quote-info .admin__page-section .admin__page-section-content{
    display: flex;
}
#edit_form #quote-info .admin__page-section .admin__page-section-content .admin__page-section-item{
    flex-grow: 1;
}

#quotation_product_create_form_container #quotation_product_create_form_html{
    display: block;
}

.admin__control-text.item-admin-discount-percentage{
    width: 10rem;
    margin: 5px 0px;
}