.cart-container .form-cart.quotation-info-form,
.cart-container .form-cart.quotation-cart-form{
    width:100%;
    padding: 0px;
}

.cart-container .form-cart.quotation-cart-form .actions.main .continue,
.cart-container .form-cart.quotation-cart-form .actions.main .clear{
    display: initial;
    margin-right: 10px;
}

#shopping-cart-table.quotation-cart-table .product-image-container{
    width:100px !important;
}

#quotation-info-form.quotation-info-form{
    padding-top: 20px;
    border-top: 1px solid #cccccc;
}
#quotation-info-form.quotation-info-form .legend > span{
    font-weight: bold;
}
#shipping_address_container{
    clear:none;
}
.clear{clear:both;}
#billing_address_container .field.use_for_shipping input,
#billing_address_container .field.use_for_shipping label{
    cursor: pointer;
}